body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: black;
  text-align: center;
}

nav{
  text-align: center;
}
nav a {
  background: grey;
  padding-left: 10px;
  padding-right: 10px;
}


section#featured-property {
  text-align: center;
}