body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: black;
  text-align: center;
}

nav{
  text-align: center;
}
nav a {
  background: grey;
  padding-left: 10px;
  padding-right: 10px;
}


figcaption {
  text-align: center;
  font-size: 10px;
}

 #featured-property p {
  text-align: center;
  width: 800px;
  color: blue;
}

#featured-property img {
  display:block;
  margin:auto;
  width: 900px;
}

#details {
  background: red;
  display: block;
}

 #details div {
  color: black;
  text-align: center;
  width: 25%;
  float: left;
}